html,
body {
    padding: 0;
    margin: 0;
    background-color: blanchedalmond;

}

h1{
    text-align: center;
}


.wrap {
    max-width: 1140px;
    height: 1000px;
    margin: 0 auto;
    
}


.feedback {
    margin-left: 50px;
    width: 1000px;
    height: 700px;
    margin-top: 10px;
    border-radius: 15px;
    border: 1px solid rgba(69, 154, 210, 0.887);
    background-color:rgba(69, 154, 210, 0.887) ;
    font-size: 30px;
    padding: 10px;
}


