html,
body {
    background: rgb(103, 163, 217);
    font-family: Arial, Helvetica, sans-serif;
}

.wrap {
    max-width: 1140px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.509);
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 20px;
}

#rad {
    width: 99%;
    font-size: 20px;
    border-radius: 5px;
}

.triangle input {
    width: 99%;
    font-size: 20px;
    border-radius: 5px;
}


.but button {
    margin-top: 10px;
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 15px;
}

.triangle {
    margin-top: 30px;
}

.length {
    margin-top: 10px;
}

.height {
    margin-top: 10px;
}


.angoli {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.button2 {
    margin-top: 10px;
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 15px;
}
.button3 {
    margin-top: 10px;
    padding: 10px 50px;
    background-color: blue;
    color: white;
    border-radius: 15px;
}